// 어떤 종류의 argument를 mixin에 보내야 할때

/*
@mixin link($word) {
  text-decoration: none;
  display: block;
  @if $word == "odd" {
    color: blue;
  } @else {
    color: red;
  }
}
*/

@mixin link($color) {
  text-decoration: none;
  display: block;
  color: $color;
}
