@import "_buttons";

/*
a {
  margin-bottom: 10px;
  &:nth-child(odd) {
    @include link(red);
  }
  &:nth-child(even) {
    @include link(blue);
  }
}
*/

a {
  @extend %button;
  text-decoration: none;
}

button {
  @extend %button;
  border: none;
}
